body {
    font-family: ;
    background-color: rgb(107 153 148);
}

.vertical{
    writing-mode: vertical-lr;
    text-orientation: upright;
    float: left;
}

.gg{
    position: absolute;
    right: 0px;
 width: 100px  ;
 height: 80px;
 top:0;
}

h1{
    text-align: center;
}

h2{
     text-align: center;
}

.about_me{
    float: left;
}

.works{
    position: absolute;
    top: 400px;
    left:41%;

}
p{
    margin: 20px;
}
footer{
    position: absolute;
   top: 900px;
}

.r{
    width: 300px;
    position: relative;
    left:220px;
}

.e {
    width: 300px;
    position: relative;
    bottom: 220px;
    right: 190px;
}
